
#course-details-page {
  min-height: 90vh !important;
  .details-wrapper {
    h4 {
      font-size: 42px;
    }
  }

  .course-details-header {
    font-weight: 600;
  }
}

#course-details-content{
  .ant-collapse-header{
    text-transform: uppercase !important;
    font-weight: 600 !important;
    font-size: 17px;
  }
}
.course-details {
  min-height: 93vh;
  .description, .to-learn-card, .prerequis {
    font-size: 14px;
  }


  .to-learn-card {
    .list-items {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      list-style-type: none;

      li {
        margin-bottom: 15px;
        margin-right: 33px;
        padding-left: 0;

        i {
          margin-right: 8px;
        }

        &:after {
          display: none;
        }
      }
    }

  }
  p{
    line-height: 28px !important;
  }

}

.panel-wrapper {
  .ant-collapse-content {
    .ant-collapse-content-box{
      padding-bottom: 2px;
      margin-bottom: 0;
    }
  }

}

.faq-wrapper {
  font-size: 14px;
  min-height: 93vh;
  .question{
    p{
      line-height: 28px !important;
    }
  }
}

.course-curriculum {
  font-size: 12px;
  &:hover{
    cursor: pointer !important;
    background-color: #f7fafc;
    font-size: 12px;
    color: #4c516d;
  }
  .course-curriculum-time {
    width: 60px;
  }

}

.sidebar {
  position: relative;
}

.sidebar-widget {
  margin-bottom: 30px;
  border: 1px solid rgba(127, 136, 151, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 30px;
  -webkit-box-shadow: 0 0 40px rgba(82, 85, 90, 0.06);
  -moz-box-shadow: 0 0 40px rgba(82, 85, 90, 0.06);
  box-shadow: 0 0 40px rgba(82, 85, 90, 0.06);
  background-color: #fff;
}

.sidebar-widget:last-child {
  margin-bottom: 0;
}

.price-current {
  font-size: 34px;
  font-weight: 600;
}

.ratings-wrapper {
  .rating-box {
    .rating-author {
      font-size: 15px;
      font-weight: 600;
    }

    .rating-date {
      font-size: 12px;
    }
  }
}

@media (max-width: 768px) {
  .details-wrapper {
    h4 {
      font-size: 37px !important;
    }
  }
  .course-details {
    font-size: 13px;

    .to-learn-card {
      .list-items {
        padding-left: 7px;

        li {
          margin-bottom: 12px;
          margin-right: 0;
          padding-left: 0;
        }
      }
    }
  }
  .rating-overview {
    font-size: 13px;
  }

  .course-details-sidebar {
    .sidebar-widget {
      padding: 15px;

      .addons {
        .ant-divider-horizontal {
          margin: 15px 0;
        }
      }
    }

    .price-current {
      font-size: 28px;
    }
  }
  #reviews-section {
    margin-bottom: 28px;

    .rating-overview {
      h4 {
        font-size: 18px;
        margin-bottom: 0;
      }

      .reviews-percentage {
        display: none;
      }

      .total-rating {
        font-size: 34px;
      }
    }
  }

  .faq-wrapper {
    margin-bottom: 31px;

    h5 {
      margin-bottom: 28px;
    }

  }

  //antd
  .ant-collapse-item {
    .ant-collapse-header {
      font-size: 12px;
    }

    .ant-collapse-content-box {
      margin: 0 !important;
      padding: 0 23px !important;

      .card-body {
        padding: 0;
        margin: 0 0 12px 0;

        .course-curriculum {
          padding: 0 !important;
          font-size: 13px;

          p {
            margin: 0;
          }

          .course-curriculum-time {
            max-width: 80%;
          }
        }
      }
    }
  }
}
.ant-tabs-tab-btn{
  font-weight: 600;
  font-size: 18px;
  text-transform: capitalize;
}

.user-image img {
  margin-right: 8px
}

.date {
  font-weight: 300;
  font-size: 13px
}


