@import "color";

html,
body {
  padding: 0;
  margin: 0;
  background: $background !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #323539 !important;
}

.nav-link {
  color: #323539 !important;
}

* {
  box-sizing: border-box;
}

.form-control:focus {
  box-shadow: none !important;
}

main {
  min-height: 73vh;
}

.btn:focus {
  outline: none;
  box-shadow: none !important;
}

.btn {
  box-shadow: none !important
}

/* LOGIN REGISTER*/
.btn-social {
  display: inline-block;
  width: 2.25rem;
  height: 2.25rem;
  padding: 0;
  border: 1px solid transparent;
  transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out, color 0.25s ease-in-out;
  border-radius: 0.25rem;
  background-color: #ecebf1;
  color: #a8a3b9;
  font-size: 0.875rem;
  text-align: center;
  line-height: 2.25rem;
}

.btn-social:hover {
  color: #fff;
}

.btn-social:focus {
  outline: none;
}

.btn-social:active {
  transition: none;
  box-shadow: none !important;
}

.btn-social-outline {
  border-color: #ecebf1;
  background-color: transparent;
}

.btn-social-outline:hover {
  border-color: transparent;
}

.btn-facebook:hover {
  background-color: #3b5998;
}

.btn-twitter:hover {
  background-color: #1da1f2;
}

.btn-instagram:hover {
  background-color: #5851db;
}

.btn-google:hover {
  background-color: #ea4335;
  color: #fff;
  border-color: #ea4335;
}

.btn-linkedin:hover {
  background-color: #0077b5;
}

.btn-github:hover {
  background-color: #4078c0;
}

.color-facebook {
  color: #4267b2;
}

.color-twitter {
  color: #1da1f2;
}

.color-github {
  color: #000000;
}

.color-google {
  color: #db3236;
}
.btn-primary{
  color: #ffffff;
  &:hover{
    color: #ffffff;
  }
}
.btn-outline-primary{
  &:hover{
   background-color: #ffffff;
    color: $primary-color;
  }
}

.ant-modal-mask {
  background-color: transparent !important;
}
.ant-modal-content{
  background-color: #ffffff !important;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.main-banner{
  background-image: url("/banner.png");
  background-size: cover;
}
.btn-secondary:hover{
  color: #ffffff !important;
}
.btn-primary :hover{
  color:#ffffff !important;
}
.teacher-area-header{
  background-image: url("/banner.png");
  background-size: cover;
}
