@import "color";
.navbar-header {
  color: $gray-color-1;
  padding: 4px 9px;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px !important;
}
.dashboard-content{
  min-height: 69vh!important;
}
