@import "color";
.btn-back-home{
  background-color: #ffffff;
}
.btn-add:hover{
  color: #ffffff !important;
}
#teacher-new-course{
  .btn-hover{
    background-color: transparent;
    color: #ffffff !important;
    &:hover{
      background-color: transparent;
      color: #ffffff;
    }
  }
  .remove-btn{
    font-weight: 400;
    &:hover{
      cursor: pointer;
    }
  }
}

#teacher-edit{
  .ant-collapse-header{
    font-weight: 500 ;
    font-size: 16px;
    .ant-collapse-arrow{
      padding-top: -12px;
    }
  }
}


