@import "color";
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.video-wrapper {
  padding: 10px 2px 7px 2px ;
  margin-left:1px;
  margin-right:1px;
  box-sizing: border-box;
  max-height: 90vh;
  background: $blue-color-1;

  .video-sidebar {
    max-height: 71vh !important;
    overflow-y: auto;
    background-color: white !important;
    scrollbar-width: thin !important;
    scrollbar-color: #D0D0D0 white !important;
    .ant-collapse-header{
      font-weight: bold;
      color: #4c516d !important;
      &:hover{
        color: $primary-color !important;
      }
    }
  }

  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 7px;
  }


  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #D0D0D0;
  }

  .player-wrapper {
    position: relative;
    padding-top: 56.25%;
  }

  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }

  .video-sidebar {
    .course-curriculum-active {
      color: $primary-color;
    }

    .player-indicator {
      width: 2rem;
      height: 2rem;
      line-height: 2rem;
      background: #F5F4F8;

      i {
        color: $primary-color;
      }

      .playing-icon {
        -webkit-animation: spin 4s linear infinite;
        -moz-animation: spin 4s linear infinite;
        animation: spin 4s linear infinite;
      }
    }

    .ant-collapse-content-box {
      margin: 0 !important;
    }

    .ant-collapse-item {
      margin-bottom: 0 !important;

      .ant-collapse-content {
        margin: 0 !important;
        padding: 0 !important;

        .ant-collapse-content-box {
          padding-bottom: 0 !important;
        }
      }

    }

    .icon-shape {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      vertical-align: middle;
    }

  }

}


