
#watch-details-page {
  min-height: 90vh !important;
  .details-wrapper {
    h4 {
      font-size: 42px;
    }
  }

  .course-details-header {
    font-weight: 600;
  }
}
.video-wrapper{
  .ant-collapse-header{
    text-transform:uppercase !important;
    &:hover{
     color: #4c516d !important;
    }
  }
}

.course-curriculum {
  font-size: 12px;
  &:hover{
    cursor: pointer !important;
    background-color: #f7fafc;
    font-size: 12px;
    color: #4c516d;
  }
  .course-curriculum-time {
    width: 60px;
  }

}

.sidebar {
  position: relative;
}


